
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: green;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: center;
}

#header-text {
    margin: 0;
    margin-bottom: 0.5rem;
}


#options-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

#options-wrapper > label {
    user-select: none;
    color: white;
    font-weight: bold;
}

#board, #player-hand {
    margin-bottom: 1rem;
}

.hand {
    display: flex;
    gap: 1rem;
    background-color: ghostwhite;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1rem;
    width: fit-content;
}

#mode-select {
}

.card {
    font-size: 7em;
    user-select: none;
    padding-bottom: 0.1em;
}

.card.simple-card {
    font-size: 4em;
    padding-bottom: 0em;
}

.hearts, .diamonds {
    color: rgb(221, 58, 58);
}
.spades, .clubs {
    color: black;
}